[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
jupyter = "*"
notebook = "*"
matplotlib = "*"
scipy = "*"
wget = "*"
jupyterlab = "*"
scikit-image = "*"
scikit-learn = "*"
tensorflow = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.7"
